.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333; /* Dark background color */
  text-align: center; /* Center align items */
  border-radius: 8px;
}

.menu li {
  display: inline-block;
}

.menu li a {
  display: block;
  color: #ffffff; /* White text color */
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #111111; /* Darker background color on hover */
}
